.footer {
    background-color: $colorSecundario;
    .footer__redes {
        animation-name: logoRedes;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 3s;
    }
}

@keyframes logoRedes {
    50% {transform: translateY(-160px);}
    55% {transform: translateY(-160px);}
    75% {transform: translateY(0px);}
    85% {transform: translateY(-10px);}
    90% {transform: translateY(0px);}
    95% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}