.header {
    background-color: $colorPrimario;
    .header__section {
        img {
            width: 10rem;
            @include tablet {
                width: 9rem;
            }
            @include movil {
                width: 8rem;
            }
        }
        h1 {
            line-height: 3.5rem;
            font-size: 2.5rem;
            @include tablet {
                font-size: 2rem;
            }
            @include movil {
                font-size: 1.4rem;
            }
        }
    }
    .header__nav {
        .ul {
            li {
                width: 7.5em;
                &:hover {
                    background-color: $colorPrimarioOscuro;
                    border-radius: 3px;
                }
            }
        }
    }
}
.bor {
    border:1px   solid blue;
}
.btm {
    background-image: linear-gradient(#c5d6c3, #f4ffee);
    border-radius: 10px;
}