.header {
    background-color: $colorPrimario;
    .header__section {
        img {
            width: 10rem;
            @include tablet {
                width: 9rem;
            }
            @include movil {
                width: 8rem;
            }
        }
        div {
            padding-bottom: 0.5rem;
            font-size: 15rem;
            h1 {
                font-size: 2.5rem;
                line-height: 2.6rem;
                padding-left: 1rem;
                @include tablet {
                    font-size: 2rem;
                }
                @include movil {
                    font-size: 1.4rem;
                    line-height: 2rem;
                    padding-left: 0.5rem;
                }
            }
        }
        }

    .header__nav {
        .ul {
            @for $nav from 1 through 5 {
                li:nth-child(#{$nav}) {
                    animation-delay: 0.05s * $nav;
                }
            }
            li {
                -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                width: 7.5em;
                &:hover {
                    background-color: $colorPrimarioOscuro;
                    border-radius: 3px;
                }
            }
        }
    }
}










  