.bloque__main {
    aside {
        background-image: url(./assets/img/plant-based.jpg);
        background-attachment: fixed;
        background-repeat: repeat;
        .aside__card {
            background-color: $colorGrisT;
            &:hover {
                background-color: $colorGris;
            }
        }
    }
    .main__index {
        background-image: url(./assets/img/piramide.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        h3 {
            line-height: 7rem;
            font-weight: 100;
        }
    }
    .main__about {
        font-size: 2rem;
        line-height: 5rem;
        @include movil {
            line-height: 2rem;

        }
    }
    .main__articulos {
        div {
            height: 650px;
            width: 35rem;
            box-shadow: 1px 2px 3px;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            background-color: $colorGrisT;
        }
    }
    .main__receta {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 1px 2px 3px;
        height: 650px;
        width: map-get($recetas, width);
        border: map-get($recetas, border);
        background-color: map-get($recetas , background-color);
    }
    .main__recetaDestacada {
        @extend .main__receta;
        width: map-get($recetas, widthDestacado );
        border: map-get($recetas , borderDestacado);
        background-color: map-get($recetas, background-colorDestacado );
    }
    .main__form {
        height: 600px;
        background-color: rgb(251, 229, 204, 50%);
    }
}

