.bloque__main {
    aside {
        background-image: url(./assets/img/plant-based.jpg);
        background-attachment: fixed;
        background-repeat: repeat;
        .aside__card {
            background-color: $colorGrisT;
            -webkit-animation: slit-in-vertical 0.45s ease-out both;
	        animation: slit-in-vertical 0.45s ease-out both;
            &:hover {
                background-color: $colorGris;
            }
        }
    }
    .main__index {
        background-image: url(./assets/img/piramide.png);
        background-repeat: no-repeat;
        background-position: left;
        background-position: 7rem;
        background-size: 50%;
        @include tablet {
            background-position: center;
            background-size: 70%;
        }
        div {
            h3 {
                line-height: 7rem;
                font-weight: 100;
                -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }
    .main__pages {
        .main__aboutImg {
            width: 25rem;
            height: min-content;
            border-radius: 50%;
            -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            @include tablet {
                width: 15rem;
                margin-top: 2rem;
            }
        }
        .main__about {
            text-align: justify;
            font-size: 2rem;
            line-height: 5rem;
            margin-top: 2rem;
            margin-left: 1rem;
            -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.5s;
            @include tablet {
                font-size: 1.6rem;
                line-height: 3.5rem;
            }
            @include movil {
                font-size: 1.3rem;
                line-height: 2rem;
            }
        }
        .main__articulos {
            @for $art from 1 through 8 {
                div:nth-child(#{$art}) {
                    animation-delay: 0.09s * $art;
                }
            }
            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 650px;
                width: 550px;
                box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
                border-radius: 4px;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                transition: all 400ms ease;
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 10px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $colorPrimarioOscuro;
                    border-radius: 5px;
                    border-right: 1px solid #ffffff;
                }
                &:hover {
                    box-shadow: 5px 10px 15px rgba(0,0,0,0.5);
                }
                @extend .animacionContenido;
                @include movil {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
                h5 {
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    background: linear-gradient(90deg, $colorGris 40%, #ffffff 50%, $colorGris 60%);
                    background-size: 250%;
                    animation: gradient 3s ease infinite;
                }
                img {
                    width: 95%;
                    box-shadow: 0px 5px 15px $colorGrisSombra;
                    margin-bottom: 3rem;
                    border-radius: 2px;
                    @include movil {
                        margin-bottom: 1.5rem;
                    }
                }
                ol {
                    text-align: justify;
                    font-weight: 600;
                    padding-right: 1rem;
                }
                div {
                    p {
                        text-align: justify;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        font-weight: 600;
                    }
                }
                a {
                    display: inline-block;
                    margin-right: 2rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    padding: 0.5rem;
                    color: #000000;
                    background-color: $colorGris;
                    border: 1px solid $colorGris;
                    text-decoration: none;
                    font-weight: 500;
                    border-radius: 4px;
                    box-shadow: 0px 5px 10px $colorGrisSombra;
                    transition: all 400ms ease;
                    &:hover {
                        color: #ffffff;
                        background-color: $colorPrimarioOscuro;
                        border: 1px solid $colorPrimarioOscuro;
                    }
                }
            }
        }
        .favoritos__btn{
            width: 70%;
            position: sticky;
            margin-top: 2px;
            color: #000000;
            background-color: #adadadf6;
            border-radius: 6px;
            text-align: center;
            text-decoration: none;
            box-shadow: 0px 5px 10px #5f5f5f;
        }
        .modalA {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 999;
            opacity: 0;
            pointer-events: none;
            transition: opacity .6s;
            text-align: center;
            .conteiner__favoritos{
                margin: auto;
                margin-top: 10em;
                width: 100%;
                background-color: #adadadf6;
                max-width: 90%;
                height: 700px;
                border-radius: 6px;
                padding: 3em 2.5em;
                text-align: center;
                overflow: auto;
                display: flex;
                flex-wrap: wrap;
                gap: 10em;
                div{
                    background-color: #d8d8d8;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    height: auto;
                    width: 300px;
                    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
                    border-radius: 4px;
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    transition: all 400ms ease;
                    overflow: hidden;
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $colorPrimarioOscuro;
                        border-radius: 5px;
                        border-right: 1px solid #ffffff;
                    }
                    &:hover {
                        box-shadow: 5px 10px 15px rgba(0,0,0,0.5);
                    }
                    @extend .animacionContenido;
                    @include movil {
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                }
            }
            .cerrar__btn{
                position: fixed;
                top: 10.5em;
                right: 6em;
                color: #000000;
                background-color: #24242483;
                box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
                width: 70px;
                border-radius: 5px;
                font-size: 20px;
                text-decoration: none;
            }
        }
        .modalA--mod {
            opacity: 1;
            pointer-events: unset;
            transition: opacity .6s;
        }

        .main__receta {
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
            border-radius: 0.5rem;
            box-shadow: 0px 5px 15px $colorGrisSombra;
            height: auto;
            width: map-get($recetas, width);
            border: map-get($recetas, border);
            background-color: map-get($recetas , background-color);
            @extend .animacionContenido;
            @for $rec from 1 through 8 {
                &:nth-child(#{$rec}) {
                    animation-delay: 0.09s * $rec;
                }
            }
            @include movil {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
            h6 {
                position: absolute;
                width: 100%;
                background-color: $colorGrisT;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 20px;
            }
            img {
                border-radius: 0.5rem;
                width: 100%;
            }
            p {
                font-weight: 600;
                font-size: 1rem;
                text-align: justify;
                margin-left: 1rem;
                margin-right: 1rem
            }
        }
        .main__recetaDestacada {
            @extend .main__receta;
            width: map-get($recetas, widthDestacado );
            border: map-get($recetas , borderDestacado);
            background-color: map-get($recetas, background-colorDestacado );
            display: flex;
            flex-direction: row;
            img {
                height: fit-content;
            }
            @include tablet {
                flex-direction: column;
            }
            .parrafoDestacado {
                margin-top: 5rem;
                @include tablet {
                    margin-top: 1rem;
                }
            }

        }
        .main__form {
            width: 50rem;
            border-radius: 8px;
            box-shadow: 0px 5px 10px $colorGrisSombra;
            font-weight: bold;
            text-align: center;
            background-color: $colorGrisT;
            padding: 2rem;
            @include movil {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                input , select{
                    border: 1px solid $colorGris;
                    background-color: $colorGris;
                    transition: all 400ms ease;
                    margin-top: 1rem;
                    text-align: center;
                    &:focus {
                        background-color: $colorPrimarioOscuro;
                    }
                    @include desktop {
                        &:hover {
                            background-color: $colorPrimario;
                        }
                    }
                }
            }
        }
    }

}
.main__btn {
    color: rgba(17, 17, 17, 0.5);
    font-size: 3rem;
    display: none;
    bottom: 2rem;
    @include tablet {
        display: block;
        position: sticky;
        text-align: center;
    }
}
.fav_btn {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    border: none;
    background-color: $colorPrimarioOscuro;
    border-radius: 15px;
    box-shadow: 0px 5px 10px $colorGrisSombra;
}
.swal2-styled.swal2-confirm.confirmColor {
    color: #000000;
}
.swal2-styled.swal2-cancel.cancelColor {
    color: #000000;
}
