.bloque__main {
    aside {
        background-image: url(./assets/img/plant-based.jpg);
        background-attachment: fixed;
        background-repeat: repeat;
        .aside__card {
            background-color: $colorGrisT;
            -webkit-animation: slit-in-vertical 0.45s ease-out both;
	        animation: slit-in-vertical 0.45s ease-out both;
            &:hover {
                background-color: $colorGris;
            }
        }
    }
    .main__index {
        background-image: url(./assets/img/piramide.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        background-color: $colorFondo;
        div {
            h3 {
                line-height: 7rem;
                font-weight: 100;
                -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }
    .main__pages {
        background-color: $colorFondo;
        .main__aboutImg {
            width: 25rem;
            height: min-content;
            border-radius: 50%;
            -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
        .main__about {
            font-size: 2rem;
            line-height: 5rem;
            margin-top: 2rem;
            margin-left: 1rem;
            -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.5s;
            @include tablet {
                font-size: 1.6rem;
                line-height: 3.5rem;
            }
            @include movil {
                font-size: 1.3rem;
                line-height: 2rem;
            }
        }
        .main__articulos {
            @for $art from 1 through 8 {
                div:nth-child(#{$art}) {
                    animation-delay: 0.09s * $art;
                }
            }
            div {
                height: 650px;
                width: 35rem;
                box-shadow: 1px 2px 3px;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                background-color: $colorGrisT;
                @extend .animacionContenido;
                @include movil {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }
        .main__receta {
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
            border-radius: 0.5rem;
            box-shadow: 1px 2px 3px;
            height: 650px;
            width: map-get($recetas, width);
            border: map-get($recetas, border);
            background-color: map-get($recetas , background-color);
            @extend .animacionContenido;
            @for $rec from 1 through 8 {
                &:nth-child(#{$rec}) {
                    animation-delay: 0.09s * $rec;
                }
            }
        }
        .main__recetaDestacada {
            @extend .main__receta;
            width: map-get($recetas, widthDestacado );
            border: map-get($recetas , borderDestacado);
            background-color: map-get($recetas, background-colorDestacado );
        }
        .main__form {
            height: 600px;
            background-color: rgb(251, 229, 204, 50%);
        }
    }

}
.main__btn {
    color: rgba(17, 17, 17, 0.5);
    font-size: 3rem;
    display: none;
    bottom: 2rem;
    @include movil {
        display: block;
        position: sticky;
    }
}