$colorPrimario: #f4ffee;
$colorPrimarioOscuro: #c5d6c3;
$colorSecundario: #fbe5cc;
$colorGrisT: rgba(235, 235, 235, 0.8);
$colorGris: rgba(235, 235, 235);
$colorFondo: #f0f8ff;
$colorFacebook: #4e69a3;
$colorOscuroFB: #2f477a;
$colorClaroFB: #3b5999;
$colorInstagram: #ff5c7f;
$colorOscuroIG: #d63959;
$colorClaroIG: #ff4e72;

// ESTILOS RECETAS
$recetas: (
    border: 2px solid $colorPrimarioOscuro,
    borderDestacado: 5px ridge $colorPrimarioOscuro, 
    background-color: $colorGrisT,
    background-colorDestacado: $colorPrimarioOscuro,
    width: 450px,
    widthDestacado: 95%
);