$colorPrimario: #f4ffee;
$colorPrimarioOscuro: #c5d6c3;
$colorSecundario: #fbe5cc;
$colorGrisT: rgba(235, 235, 235, 0.8);
$colorGris: rgba(235, 235, 235);

// ESTILOS RECETAS
$recetas: (
    border: 2px solid $colorPrimarioOscuro,
    borderDestacado: 5px ridge $colorPrimarioOscuro, 
    background-color: $colorGrisT,
    background-colorDestacado: $colorGris,
    width: 25rem,
    widthDestacado: 95%
);