.bloque__main {
    aside {
        background-image: url(./assets/img/plant-based.jpg);
        background-attachment: fixed;
        background-repeat: repeat-x;
        .aside__card {
            background-color: $colorGrisT;
            background-repeat: repeat-y;
            &:hover {
                background-color: $colorGris;
            }
        }
    }
    .main__index {
        background-image: url(./assets/img/piramide.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        h3 {
            line-height: 7rem;
            font-weight: 100;
        }
    }
}
